<html>
  <head>
    <%= stylesheet_link_tag 'user_new' %>
  </head>
  <body>

    <section>
      <%= render 'form' %>
    <section>
  </body>
</html>
<br><br><br><br><br><br>
<button type="button" class="btn btn-default col-sm-4"><%= link_to 'Back', user_lists_path %></button>
