<html>
<head>
   <title>To Do List</title>
   <%= stylesheet_link_tag 'Welcome' %>
<body>
   <section class="main_part">
      <h1>Welcome</h1>
      <div class="buttons">
          <%= button_to "Register", new_user_path, :method => "get" %>
          <%= button_to "Login", new_user_path, :method => "get" %>
      </div>
   </section>
   <section bulletin>
      <div>
          <p>images</p>
      </div>
   </section>
</body>
</html>
