<html>
<head>
   <title>To Do List</title>
   <%= stylesheet_link_tag 'welcome.scss' %>
<body>
  <% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

   <section class="main_part container">
     <div class="jumbotron">
      <h1>Welcome</h1>
    </div>


   </section>

</body>
</html>
